/* ==========================================================================
Planner page styles
========================================================================== */
.list-item {
  background: #eee;
  border-top: 1px solid transparent #d0d0d0;
}

.list-item:hover {
  background: #e1e1e1;
  border-top: 1px solid #d0d0d0;
}

.trip-back-button {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-right: 16px;
  float: left;
}

.trip-next-button {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 16px;
  float: right;
}

.trip-button {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 16px;
}
