.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.reservation-card {
  margin-top: 16px;
  margin-bottom: 0px;
  background-color: honeydew;
}

.trip-card {
  margin-top: 8px;
  margin-bottom: 32px;
  background-color: aliceblue;
}
